<div class="mt-4">
    <div class="row">
        {{#each persons}}
            <div class="col-sm-6 col-lg-4">
                <div class="card card-person-item">
                    <a href="/persons/{{this.phone}}">
                        <img
                            src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t39.30808-1/323440837_563883925291552_7766210441308944045_n.jpg?stp=dst-jpg_p320x320&_nc_cat=101&ccb=1-7&_nc_sid=c6021c&_nc_ohc=2lhKyVKlxvAAX9iFH8S&_nc_ht=scontent.fsgn4-1.fna&oh=00_AfDpvPBmwib-3wkr9ZShsVMBTluObP7kbgMtrTr_nkI7YA&oe=63D4F292"
                            class="card-img-top"
                            alt={{this.accountId}}
                        />
                    </a>
                    <div class="card-body">
                        <a href="/persons/{{this.phone}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.job}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>