<div class="mt-4">
    <div>
        <a href="/persons/stored/profile" class="text-decoration-none">Person's
            Profile</a>
        <h2>Deleted profile</h2>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Job</th>
                <th scope="col" colspan="2">Deleted At</th>
            </tr>
        </thead>
        <tbody>
            {{#each persons}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.job}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a
                            href=""
                            class="btn btn-primary btn-restore"
                            data-id={{this._id}}
                        >Restore</a>
                        <a
                            href=""
                            class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#delete-person-modal"
                            data-id={{this._id}}
                        >Destroy</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        No deleted profile.
                        <a
                            href="/persons/stored/profile"
                            class="text-decoration-none"
                        >Person's Profile</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Delete modal }}
<div
    class="modal fade"
    id="delete-person-modal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                    person ?</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Are you sure ?
            </div>
            <div class="modal-footer">
                <button
                    id="btn-delete-person"
                    type="button"
                    class="btn btn-danger"
                >Delete</button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >Close</button>
            </div>
        </div>
    </div>
</div>

{{! Hidden form }}
<form name="delete-person-from" method="POST"></form>
<form name="restore-person-from" method="POST"></form>

<script src="https:code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () { var personId;
    var deleteForm = document.forms["delete-person-from"]; var restoreForm =
    document.forms["restore-person-from"]; var btnDeleteForm =
    document.getElementById("btn-delete-person"); var restoreBtn =
    $(".btn-restore"); $("#delete-course-modal").on("show.bs.modal", function
    (event) { var button = $(event.relatedTarget); personId = button.data("id");
    }); btnDeleteForm.onclick = function () { deleteForm.action = "/persons/" +
    personId + "/force?_method=DELETE"; deleteForm.submit(); };
    restoreBtn.click(function (e) { e.preventDefault(); var personId =
    $(this).data("id"); restoreForm.action = "/persons/" + personId +
    "/restore?_method=PATCH"; restoreForm.submit(); }); });
</script>